@keyframes move-right {
  from {
    left: -750px;
  }
  to {
    left: -1500px;
  }
}

.transition-right {
  animation-name: move-right;
  animation-duration: 1.5s;
}

@keyframes move-left {
  from {
    left: -750px;
  }
  to {
    left: 0px;
  }
}

.transition-left {
  animation-name: move-left;
  animation-duration: 1.5s;
}
