.header__wrapper {
  max-width: 950px;
  padding: 21px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header {
  &__descr,
  &__contacts {
    display: flex;
    flex-direction: column;
  }
}

.descr {
  &__subtitle {
    @extend %font;

    @include font(12px, 500, 63%, center);
    color: $text-color--light;
    margin-bottom: 7px;
  }
  &__title {
    @extend %font;

    @include font(18px, 500, 29px, center);
    color: $text-color--light;
    letter-spacing: 1px;
  }
}

.contacts {
  &__number {
    @extend %font;

    @include font(18px, 700, 18px, right);
    color: $text-color--light;
    letter-spacing: 1px;
    margin-bottom: 7px;
  }
}
