$bg-color: #e5e5e5;
$accent-color: #c70101;
$accent-color--hover: #e30000;
$text-color: #0d0d0d;
$text-color--medium: #555555;
$text-color--light: #fff;
$text-color--disabled: #6b6b6b;
$tag-border-color: #d0d0d0;
$tag-text-color: #6b6b6b;
$text-color-standard-price: #555;
$text-color-sale: #050505;
$card-border-color: #e8e8e8;
$text-counter-color: #646464;
$overlay-color: rgba(80, 80, 80, 0.4);
